# =========================
# Configuración de Entorno
# =========================

ENV=dev

# =========================
# Datos
# =========================

DATASET_PATH=data/processed/dataset_modelado.parquet

# =========================
# Modelo (baseline oficial)
# =========================

MODEL_PATH=models/production/pipeline.pkl
MODEL_META_PATH=models/production/pipeline_meta.json

# =========================
# API
# =========================

API_HOST=0.0.0.0
API_PORT=8000

# =========================
# Logging
# =========================

LOG_LEVEL=INFO